{#
/**
 * @file datamodel.html.twig
 * Default theme implementation to present Datamodel data.
 *
 * This template is used when viewing Datamodel pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_datamodel()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('datamodel') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
